@charset "UFT-8";

body{
    background-color: cadetblue;
}
h1{
    color: blueviolet;
}

h1#top{
    color: aliceblue;
}

.basico{
    background-color: rgb(0, 255, 72);
}

.intermediario{
    color: chartreuse;
}

.avancado{
    color: rgb(255, 0, 0);
}